/* ---- customize styles here ---- */

.parallax-slider{
	height: 560px;
    position:relative;
    margin-bottom:30px;
    z-index:5;
	@media (min-width: 980px) and (max-width: 1219px){
	    height:550px;   
    }
    @media (min-width: 768px) and (max-width: 979px) {
        height:550px;
    }
    @media (max-width: 767px) {
        height:350px;
        margin: 0 -10px 30px -10px;
    }
	#mainCaptionHolder{
		.container {
			top:45%;
            @media (max-width: 767px) {
                top:30%;
            }
		}
		.slider_caption {
			text-align:right;
            float: right;
            padding:0;
            width:500px;
            
			h2 {
				font-size:50px;
				line-height:53px;
                color:@white;
                text-transform:uppercase;
                margin:0;
                padding:0;
                background:none;
                letter-spacing:-1px;
                b {
                    font-weight:900;
                }
                @media (max-width: 767px) {
                   text-align:center;
                        font-size:25px;
        				line-height:1em;
                }
                @media (max-width: 480px) {
                    padding:0 25px;
                   br {
                    display:none;
                   }
                }
                /*@media (max-width: 980px) {
                   font-size:75px;
                }*/
			}
            @media (min-width: 1200px) {
               height:212px;
            }
            @media (max-width: 767px) {
               text-align:center;
               float:none;
               width:100%;
            }
            em {
                position: absolute;
                top: 0;
                right: -140%;
                width: 200%;
                height: 1000%;
                background: rgba(242,53,52,0.6);
                margin-top: -270px;
                z-index: -1;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
                @media (max-width: 1200px) {
                   display:none;
                }
            }
		}
	}
	
	.controlBtn {
		width:20px;
		height: 30px;
		margin-top: -15px;
		@media (max-width:1400px) {
           margin:0;
           top:40px !important;
        }
		.innerBtn{				
			font-size: 35px;
			line-height: 35px;
			color:@white;
			background:none;
		}
        .icon-angle-right:before {
            content: "\f054";
        }
        .icon-angle-left:before {
            content: "\f053";
        }
		.slidesCounter{
			font-size: 16px;
			line-height: 60px;
			color: @linkColor;
			background: @linkColorHover;
            display:none;
		}
	}
	.controlBtn:hover {
		.innerBtn{
			color:#323232;
			background:none;
		}
	}
	.parallaxPrevBtn, .parallaxNextBtn {
		.transition(all 0.5s ease);
	}
	.parallaxPrevBtn {
		left:-50px;
        @media (max-width:1400px) {
           left: auto;
            right: -50px;
        }
	}
	.parallaxNextBtn {
		right:-50px;
	}
	&:hover {
		.parallaxPrevBtn{
			left:50px;
            @media (max-width:1400px) {
                left:auto;
                right: 40px;
            }
		}
		.parallaxNextBtn{
			right:50px;
            @media (max-width: 1400px) {
               right:10px;
            }
		}
	}
	
	#paralaxSliderPagination{
		bottom: 15px;
		display:none;
		&.buttons_pagination{
			ul{
				li{
					border-radius: 50%;
					margin: 3px;
					width: 10px;
					height: 10px;
					border: 2px solid @linkColor;
					
					&:hover, &.active{
						background: @linkColor;
					}
				}
			}
		}
		&.images_pagination{
			ul{
				li{
					margin: 3px;
					opacity:.5;
					
					&:hover, &.active{
						opacity:1;
					}
				}
			}
		}
	}
	
	#previewSpinner{	
		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		border-radius: 25px;
		background: url(parallax-slider/img/spinner.GIF) 50% 50% #fff no-repeat;
	}
}
.cherry-quick-view-content span {
    font:16px/23px 'Raleway';
    color:#1c1c1c;
}


/* ---- necessary slider settings  ---- */
/* ---- without the need doesn't change anything  ---- */

.parallax-slider{
	overflow: hidden;
	position:relative;
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	.baseList{
		display: none;
	}
	
	
	#mainImageHolder{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		
		.primaryHolder, .secondaryHolder{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			
			.imgBlock {
				max-width: inherit;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
		.primaryHolder{
			z-index:2;
		}
		.secondaryHolder{
			z-index: 1;
		}		
	}
	
	
	#mainCaptionHolder{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		
		.container {
			position:relative;
		}
		
		.primaryCaption, .secondaryCaption {
			position: absolute;
			width: 100%;
			top:0;
			left:0;
		}
	}
	
	
	.controlBtn{
		position: absolute;
		cursor: pointer;
		display: block;
		top: 50%;
		z-index: 2;
		
		.innerBtn{
			.transition(all 0.3s ease);
			position: relative;
			display:block;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 1;
		}
		.slidesCounter{
			.transition(all 0.3s ease);
			position: absolute;
			top: 0;
			width: 60%;
			height: 100%;
		}
		
		&.parallaxPrevBtn{
			.slidesCounter{
				left: 0%;
				text-align:left;
			}
			&:hover{
				.slidesCounter{
					left: 100%;
				}
			}
		}
		&.parallaxNextBtn{
			.slidesCounter{
				right: 0%;
				text-align:right;
			}
			&:hover{
				.slidesCounter{
					right: 100%;
				}
			}
		}
	}
	
	
	#paralaxSliderPagination{		
		position: absolute;
		width: 100%;
		text-align: center;
		z-index: 2;
		
		ul{
			list-style: none;
			margin: 0;
			
			li{
				.transition(all 0.5s ease);
				cursor: pointer;
				display: inline-block;
			}
		}
	}
	
	
	#previewSpinner{	
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		z-index: 99;
	}
	
	
	&.zoom-fade-eff{
		#mainImageHolder{
			.primaryHolder{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
						.scale(3);
					}
			}
			.secondaryHolder{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
	&.simple-fade-eff{
		#mainImageHolder{
			.primaryHolder{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryHolder{
				&.animateState{
					.opacity(100);
						&.animateState{
							.opacity(0);
						}
				}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
	&.slide-top-eff{
		#mainImageHolder{
			.primaryHolder{
				top: 0;
					&.animateState{
						top: -100%;
					}
			}
			.secondaryHolder{
				&.animateState{
					top: 0;
						&.animateState{
							top: 100%;
						}
				}
			}
		}
		#mainCaptionHolder{
			.primaryCaption{
				.opacity(100);
				.scale(1);
					&.animateState{
						.opacity(0);
					}
			}
			.secondaryCaption{
				.opacity(100);
					&.animateState{
						.opacity(0);
					}
			}
		}
	}
}