<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
	    <remove fileExtension=".ejs" />
	    <remove fileExtension=".json" />
            <mimeMap fileExtension=".ejs" mimeType="text/html" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>